# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build and dependency directories
node_modules/
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Optional: Custom ignore
.qodo/
Backend/coverage/lcov.info
Backend/coverage/lcov-report/index.html
Backend/coverage/lcov-report/api/v1/controllers/index.html
Backend/coverage/lcov-report/api/v1/controllers/index.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/brand.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/cart.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/category.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/coupon.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/couponUser.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/discountRule.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/index.html
Backend/coverage/lcov-report/api/v1/controllers/admin/product.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/productAttributes.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/productAttributesValues.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/productMedia.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/productMediaUrl.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/productVariant.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/productVariantAttributeValues.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/review.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/stockAlert.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/admin/user.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/auth/index.html
Backend/coverage/lcov-report/api/v1/controllers/auth/login.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/auth/register.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/address/address.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/address/index.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/cart/cart.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/cart/cartItem.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/cart/index.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/coupon/couponRedemption.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/coupon/index.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/order/index.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/order/order.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/order/orderItem.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/product/productReview/index.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/product/productReview/productReview.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/profile/index.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/profile/profile.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/wishList/index.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/wishList/wishList.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/commonControllers/wishList/wishListItem.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/customer/cart.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/customer/index.html
Backend/coverage/lcov-report/api/v1/controllers/customer/order.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/customer/product.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/customer/review.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/customer/wishlist.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/retailer/cart.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/retailer/index.html
Backend/coverage/lcov-report/api/v1/controllers/retailer/order.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/retailer/product.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/retailer/review.controller.js.html
Backend/coverage/lcov-report/api/v1/controllers/retailer/wishlist.controller.js.html
Backend/coverage/lcov-report/api/v1/utils/index.html
Backend/coverage/lcov-report/api/v1/utils/test.server.js.html
Backend/coverage/lcov-report/api/v1/validators/index.html
Backend/coverage/lcov-report/api/v1/validators/index.js.html
Backend/coverage/lcov-report/api/v1/validators/auth/index.html
Backend/coverage/lcov-report/api/v1/validators/auth/login.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/auth/register.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/brands/brands.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/brands/index.html
Backend/coverage/lcov-report/api/v1/validators/cart/cart.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/cart/cartItem.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/cart/index.html
Backend/coverage/lcov-report/api/v1/validators/category/category.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/category/index.html
Backend/coverage/lcov-report/api/v1/validators/coupon/coupon.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/coupon/couponRedemption.validator.js.html
Backend/coverage/lcov-report/api/v1/validators/coupon/couponUser.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/coupon/index.html
Backend/coverage/lcov-report/api/v1/validators/discountRule/discountRule.validator.js.html
Backend/coverage/lcov-report/api/v1/validators/discountRule/index.html
Backend/coverage/lcov-report/api/v1/validators/order/index.html
Backend/coverage/lcov-report/api/v1/validators/order/order.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/order/orderItem.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/index.html
Backend/coverage/lcov-report/api/v1/validators/product/product.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/productAttributes/index.html
Backend/coverage/lcov-report/api/v1/validators/product/productAttributes/productAttributes.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/productAttributesValues/index.html
Backend/coverage/lcov-report/api/v1/validators/product/productAttributesValues/productAttributesValues.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/productMedia/index.html
Backend/coverage/lcov-report/api/v1/validators/product/productMedia/productMedia.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/productMediaUrl/index.html
Backend/coverage/lcov-report/api/v1/validators/product/productMediaUrl/productMediaUrl.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/productReview/index.html
Backend/coverage/lcov-report/api/v1/validators/product/productReview/productReview.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/productVariant/index.html
Backend/coverage/lcov-report/api/v1/validators/product/productVariant/productVariant.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/product/productVariantAttributeValues/index.html
Backend/coverage/lcov-report/api/v1/validators/product/productVariantAttributeValues/productVariantAttributeValues.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/profileAndAddress/address.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/profileAndAddress/index.html
Backend/coverage/lcov-report/api/v1/validators/profileAndAddress/profile.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/stockAlert/index.html
Backend/coverage/lcov-report/api/v1/validators/stockAlert/stockAlert.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/wishList/index.html
Backend/coverage/lcov-report/api/v1/validators/wishList/wishList.validators.js.html
Backend/coverage/lcov-report/api/v1/validators/wishList/wishListItem.validators.js.html
Backend/coverage/lcov-report/config/db.js.html
Backend/coverage/lcov-report/config/index.html
Backend/coverage/lcov-report/constants/index.html
Backend/coverage/lcov-report/constants/message.js.html
Backend/coverage/lcov-report/constants/roles/index.html
Backend/coverage/lcov-report/constants/roles/roles.js.html
Backend/coverage/lcov-report/middleware/index.html
Backend/coverage/lcov-report/middleware/jwt.middleware.js.html
Backend/coverage/lcov-report/models/address.model.js.html
Backend/coverage/lcov-report/models/cart.model.js.html
Backend/coverage/lcov-report/models/cartItem.model.js.html
Backend/coverage/lcov-report/models/category.model.js.html
Backend/coverage/lcov-report/models/coupon.model.js.html
Backend/coverage/lcov-report/models/couponRedemption.model.js.html
Backend/coverage/lcov-report/models/couponUser.model.js.html
Backend/coverage/lcov-report/models/discountRule.model.js.html
Backend/coverage/lcov-report/models/index.html
Backend/coverage/lcov-report/models/index.js.html
Backend/coverage/lcov-report/models/order.model.js.html
Backend/coverage/lcov-report/models/orderItem.model.js.html
Backend/coverage/lcov-report/models/owner.model.js.html
Backend/coverage/lcov-report/models/payment.model.js.html
Backend/coverage/lcov-report/models/product.model.js.html
Backend/coverage/lcov-report/models/productAttributes.model.js.html
Backend/coverage/lcov-report/models/productAttributesValues.model.js.html
Backend/coverage/lcov-report/models/productBrand.model.js.html
Backend/coverage/lcov-report/models/productMedia.model.js.html
Backend/coverage/lcov-report/models/productMediaURL.model.js.html
Backend/coverage/lcov-report/models/productReview.model.js.html
Backend/coverage/lcov-report/models/productVariants.model.js.html
Backend/coverage/lcov-report/models/stockAlert.model.js.html
Backend/coverage/lcov-report/models/store.model.js.html
Backend/coverage/lcov-report/models/user.model.js.html
Backend/coverage/lcov-report/models/variantAttributeValue.model.js.html
Backend/coverage/lcov-report/models/wishlist.model.js.html
Backend/coverage/lcov-report/models/wishListItem.model.js.html
Backend/coverage/lcov-report/services/index.html
Backend/coverage/lcov-report/services/index.js.html
Backend/coverage/lcov-report/services/auth/auth.service.js.html
Backend/coverage/lcov-report/services/auth/index.html
Backend/coverage/lcov-report/utils/index.html
Backend/coverage/lcov-report/utils/orderUtils.js.html
